@font-face {
    font-family: 'Poppins-Bold';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: 
        url('../../fonts/Poppins-Bold.woff') format('woff'),
        url('../../fonts/Poppins-Bold.woff2') format('woff2'),        
}

@font-face {
    font-family: 'Poppins-Medium';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: 
        url('../../fonts/Poppins-Medium.woff') format('woff'),
        url('../../fonts/Poppins-Me5ium.woff2') format('woff2'),      
}

@font-face {
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: 
        url('../../fonts/Poppins-Regular.woff') format('woff'),
        url('../../fonts/Poppins-Regular.woff2') format('woff2'),      
}

@font-face {
    font-family: 'Poppins-Semibold';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: 
        url('../../fonts/Poppins-Semibold.woff') format('woff'),
        url('../../fonts/Poppins-Semibold.woff2') format('woff2'),        
}

@font-face {
    font-family: 'Roboto-Regular';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: 
        url('../../fonts/Roboto-Regular.woff') format('woff'),
        url('../../fonts/Roboto-Regular.woff2') format('woff2'),        
}